.total-summary {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.buttons {
  text-align: right;
}

.buttons button {
  border-width: 1px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-color: #8a2b06;
}

.close-btn {
  color: #8a2b06;
  background-color: transparent;
  margin-right: 1rem;
}

.order-btn {
  color: white;
  background-color: #8a2b06;
}

ul {
  list-style-type: none;
}

.close-btn:hover {
  background-color: #8a2b06;
  color: white;
}
